body {
    background-color: rgb(226, 191, 150);
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    text-align: center;
    color: black;
}

img {
    max-width: 75%;
    border-radius: 20px;
    display: block;
    margin: 30px auto;
}

.introduction {
    max-width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    background-color: bisque;
}

.text-reset {
    color: rgb(69, 37, 3);
}

a {
    margin: 0 5px;
    color: rgba(41, 24, 2, 0.956);
}